body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 40px;
}

h1 {
    color: #2c3e50;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input, button {
    padding: 8px;
    margin-top: 6px;
    width: 100%;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

button:hover {
    background-color: #2980b9;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

/* Caja del modal */
.modal-content {
    background: white;
    width: 60%;
    max-width: 600px;
    max-height: 95vh;

    padding: 20px;
    border-radius: 10px;
    text-align: center;

    overflow-y: auto; /* scroll interno si hace falta */
}

/* Vídeo */
.modal-content video {
    width: 100%;
    max-height: 60vh;
    height: auto;

    object-fit: contain;
    background: black;

    margin-top: 15px;
    border-radius: 8px;
}

/* Botón cerrar */
.close-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;

    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #3498db;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}
